##############################
## Java
##############################
.mtj.tmp/
hs_err_pid*
replay_pid*
replay_*
replay_pid

##############################
## Maven
##############################
logs/
target/

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Eclipse
##############################
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

##############################
## Allure
##############################
.allure
/bin/

##############################
## STS
##############################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
